# Database Configuration (maps to ConnectionStrings:SRSS_IAM_DB)
ConnectionStrings__SRSS_IAM_DB=Host=localhost; Port=5432; Username=postgres; Password=your_password_here; Database=SRSS.IAM

# Redis Configuration (maps to ConnectionStrings:Redis)
ConnectionStrings__Redis=localhost:6379,allowAdmin=true,connectTimeout=10000,syncTimeout=10000,asyncTimeout=10000,connectRetry=5,abortConnect=false,keepAlive=60

# JWT Configuration (maps to JwtSettings:*)
JwtSettings__ValidIssuer=http://localhost:5000
JwtSettings__ValidAudience=http://localhost:5000
JwtSettings__SecretKey=your_secret_key_here
JwtSettings__AccessTokenExpirationMinutes=15
JwtSettings__RefreshTokenExpirationDays=30

# Google OAuth Configuration (maps to GoogleAuthSettings:*)
GoogleAuthSettings__ClientId=YOUR_GOOGLE_CLIENT_ID.apps.googleusercontent.com
GoogleAuthSettings__ClientSecret=YOUR_GOOGLE_CLIENT_SECRET
GoogleAuthSettings__AuthorizationEndpoint=https://accounts.google.com/o/oauth2/v2/auth
GoogleAuthSettings__Scope=openid profile email

# CORS Configuration (maps to CorsSettings:*)
CorsSettings__AllowedOrigins=http://localhost:4200
CorsSettings__AllowedMethods=GET, POST, PUT, DELETE
CorsSettings__AllowedHeaders=Content-Type, Authorization

# Supabase Configuration (maps to SupabaseSettings:*)
SupabaseSettings__Url=https://your-project.supabase.co
SupabaseSettings__Key=your_supabase_key_here

#Grobid Configuration
Grobid__BaseUrl=URL

#Open AI 
OpenAI__ApiKey=KEY

#Gemini (gemini-2.5-pro neu giau)
Gemini__ApiKey=KEY
Gemini__ModelId=gemini-2.5-flash

# OpenAlex Configuration
OpenAlex__ApiKey=YOUR-KEY